body {
    margin: 0;
    background-color: #dddddf;
}

nav {
    background-color: #d0c4df;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#name {
    padding-right: 10px;
    padding-left: 50px;
}

a {
    color: #1b21ca;
}

footer {
    background-color: #c792df;
    padding-bottom: 50px;
    display: flex;
}

.splash {
    text-align: center;
    background-color: #dcabdf;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}